doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/app/styles/bootstrap.css')
    script( src='/socket.io/socket.io.js' )
    script( src='app/components/angular/angular.js' )
    script( src='app/components/angular-resource/angular-resource.js' )
    script( src='app/components/angular-cookies/angular-cookies.js' )
    script( src='app/components/angular-sanitize/angular-sanitize.js' )
    script( src='app/components/angular-socket-io/socket.js' )
    script( src='app/scripts/app.js' )
    script( src='app/scripts/controllers/main.js' )
  body(ng-app="publicApp")
    block content
    include includes/footer