<div class="hero-unit">
  <h1>Welcome to the Taxi app</h1>
  <div ng-show="connected">Connected <span class="btn btn-error" ng-click="disconnect()">Disconnect</span></div><span class="btn" ng-class="{disabled: connected}" ng-click="connect()">Connect</span>
  <ul>
    <li ng-repeat="taxi in taxis">Latitude: {{taxi.lat}}, Longitude: {{taxi.lng}}</li>
  </ul>
</div>
